body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#logo {
    background: #235e3d;
}

/*efecto del menu*/
#menu ul li:hover{
    background: #235e3d;
}
/*end efecto menu*/


.button-more{
    background: #235e3d;
}